<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf8">
		<title>確認画面</title>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>
	<body>
		<div class="container-fluid">
			<h1>確認</h1>
			<div>
				メールアドレス: <%=@email%>
			</div>
			<div>
				本文:<%=@message%>
			</div>
			<p>送信します。よろしいですか。</p>
			<div class="reok">
				<a class="btn btn-danger" href="/">戻る</a>
				<!-- <a class="btn btn-primary" href="/send-mail"> -->
			<form action="send-mail" method="POST">
				<input type="hidden" name="email" value="<%=@email%>">
				<input type="hidden" name="message" value="<%=@message%>">

				<input type="submit" value="進む"><!-- </a> -->
			</form>
			</div>
		

		</div>
	</body>
</html>