<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf8">
		<title>送信フォーム</title>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="style.css" type="text/css">

	</head>
	<body>
		<div class="container-fluid">
			<div class="app">
				<a href="/about" target="_blank">このアプリについて</a>
			</div>
			<form action ="check" method="POST" role="form" >
				<div class="form-group">
					<label for="InputEmail">メールアドレス</label>
					<input name ="email" type="email" class="form-control" id="InputEmail" size="50px" placeholder="example@ex.com"><!-- maxlength="10"  -->
				</div>
				<div class="form-group">
					<label for="text">内容</label>
					<textarea name="message" class="form-control" id="text" rows="3"></textarea>
				</div>
			<!-- <a href="/check" style="text-decoration:none;"> --><input type="submit" value="OK" style="background-color:white; border-color:pink"><!-- </a> -->
			</form>
		</div>	
	</body>
</html>
