<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf8">
		<title>送信フォーム</title>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="style.css" type="text/css">

	</head>
	<body>
		<div class="container-fluid">
			<div class="app">
				<a href="q.html" target="_blank">このアプリについて</a>
			</div>
			<form role="form">
				<div class="form-group">
					<label for="InputEmail">メールアドレス</label>
					<input type="email" class="form-control" id="InputEmail" size="50px" maxlength="5" placeholder="example@ex.com">
				</div>
				<div class="form-group">
					<label for="text">内容</label>
					<textarea class="form-control" id="text" rows="3"></textarea>
				</div>
			</form>
			<a href="check.html" style="text-decoration:none;"><input type="submit" value="OK" style="background-color:white; border-color:pink"></a>
		</div>
	</body>
</html>
