<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf8">
		<title>このアプリについて</title>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>
	<body>
		<div class="container-fluid app">
			<p>このアプリについて</p>
			<a href="/" target="_blank">TOPに戻る</a>
		</div>
	</body>
</html>