<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf8">
		<title>送信完了</title>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>
	<body>
		<div class="container-fluid app">
			<h1>ありがとうございました！</h1>
			<p>メールアドレス：<%=@email%></p>
			<p>内容：<%=@message%></p>
			<p>送信しました。</p>
			<p><img src="thank.jpg" width="200" height="150" alt="thank"></p>
			<a href="/">TOPに戻る</a>
		</div>
	</body>
</html>